In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [39]:
#import covariate datasets qnd the outcomes. 

main_table_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/'

cancer_path = f'{main_table_path}output.csv'
df_output = pd.read_csv(cancer_path)

In [32]:
#import covariate datasets qnd the outcomes. 

main_table_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/'

cancer_path = f'{main_table_path}output2.csv'
df_output = pd.read_csv(cancer_path)

In [2]:
#import covariate datasets qnd the outcomes. 

main_table_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/'

cancer_path = f'{main_table_path}output3.csv'
df_output = pd.read_csv(cancer_path)

In [3]:
df_output['subclass'] = df_output['subclass'].astype(int)

In [6]:
len(df_output)/4

1970.0

In [10]:
new_dataframe = pd.DataFrame()
for subclasse_i in range(1, 1971):
    subset = df_output[df_output['subclass'] == subclasse_i]
            # Find the 'VTE_date' value where 'VTE_group' is 1
    vte_date_value = subset.loc[subset['VTE'] == 1, 'VTE_date'].iloc[0]
    # Update the 'VTE_date' for all rows where 'VTE_group' is 0
    subset.loc[subset['VTE'] == 0, 'VTE_date'] = vte_date_value
    new_dataframe = pd.concat([new_dataframe, subset], ignore_index=True)

In [11]:
new_dataframe

,PAT_ID,sex,age,birth_date,diab_date,cancer,COPD,fracture,hypertension,surgery,...,sulfonylureas,DPP.4,a_gluc_inhib,exp_date,VTE_date,VTE,group,distance,weights,subclass
0,10251863423642218,2,63.556468,08/01/1954,02/20/2018,0,0,0,1,1,...,0,0,0,11/04/2020,07/18/2019,1,case,0.456343,1,1
1,10461166607390554,2,71.622177,05/08/1947,12/21/2018,0,0,0,0,0,...,1,0,0,06/05/2020,07/18/2019,0,control,0.188830,1,1
2,20421046308876464,1,93.136208,10/13/1925,12/02/2018,0,0,0,1,0,...,0,0,0,NaN,07/18/2019,0,control,0.452715,1,1
3,29059811272343424,1,68.366872,09/01/1949,01/13/2018,1,0,0,0,0,...,0,0,0,08/25/2019,07/18/2019,0,control,0.310321,1,1
4,12518192610427788,2,62.691307,07/31/1955,04/09/2018,0,0,0,0,1,...,0,0,0,03/07/2019,05/03/2019,1,case,0.273960,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7875,26881798312323792,1,58.061602,03/07/1960,03/30/2018,0,0,0,0,0,...,0,0,0,NaN,02/16/2019,0,control,0.156247,1,1969
7876,12511843363341474,1,66.551677,02/09/1952,08/29/2018,1,0,0,0,0,...,0,0,0,NaN,05/17/2020,1,case,0.302460,1,1970
7877,15716231916534144,1,60.303901,08/13/1958,12/02/2018,0,0,0,0,0,...,0,0,0,09/08/2020,05/17/2020,0,control,0.162367,1,1970
7878,25448933722964412,1,67.156742,07/27/1951,09/22/2018,0,0,0,0,1,...,0,0,0,08/06/2019,05/17/2020,0,control,0.302366,1,1970
7879,29501155281040016,2,85.018480,12/22/1933,12/29/2018,0,0,0,0,0,...,0,0,0,11/04/2020,05/17/2020,0,control,0.234221,1,1970

In [12]:
#export latest csv file
csv_file_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/df_VTE_date_for_controls3.csv'
new_dataframe.to_csv(csv_file_path, index=False)