# Data Wrangling

In [3]:
import pandas as pd

In [27]:
#import covariate datasets qnd the outcomes. 

cancer_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/cancer_covariate.csv'
df_cancer = pd.read_csv(cancer_path)

COPD_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/COPD_covariate.csv'
df_COPD = pd.read_csv(COPD_path)

diabetes_cohort_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/diabetes_entire_cohort.csv'
df_diabetes_cohort = pd.read_csv(diabetes_cohort_path)

exposure_drug_prescription_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/exposure_drug_prescription.csv'
df_exp_drug = pd.read_csv(exposure_drug_prescription_path)

fracture_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/fracture_covariate.csv'
df_fracture = pd.read_csv(fracture_path)

hypertension_path = '/Users/alecstear/Documents/GitHub/anti-diabetics-study-with-EHR/data tables/hypertension_covariate.csv'
df_hypertension = pd.read_csv(hypertension_path)

In [52]:
df_hypertension

                 PAT_ID
0     16379800014179865
1     11720872746663707
2     16843030884553957
3     27412630825807239
4     26061959068995626
...                 ...
1124  29517797950643831
1125  29648707741801517
1126  29751445005334734
1127  29825172029935987
1128  29874050479079739

[1129 rows x 1 columns]

In [57]:
df_diabetes_cohort['fracture'].sum()

57

In [66]:
df_diabetes_cohort['cancer'] = df_diabetes_cohort['pat_id'].isin(df_cancer['PAT_ID']).astype(int)
df_diabetes_cohort['COPD'] = df_diabetes_cohort['pat_id'].isin(df_COPD['PAT_ID']).astype(int)
df_diabetes_cohort['fracture'] = df_diabetes_cohort['pat_id'].isin(df_fracture['PAT_ID']).astype(int)
df_diabetes_cohort['hypertension'] = df_diabetes_cohort['pat_id'].isin(df_hypertension['PAT_ID']).astype(int)
print(df_diabetes_cohort['cancer'].sum(), df_diabetes_cohort['COPD'].sum(), df_diabetes_cohort['fracture'].sum(), df_diabetes_cohort['hypertension'].sum())

715 271 57 1129

In [69]:
for i in df_diabetes_cohort['pat_id']:
    # Check if 'pat_id' is in 'PAT_ID' column of df_exp_drug
    if i in df_exp_drug['PAT_ID'].values:
        # Update 'prs_date' in df_diabetes_cohort based on the condition
        df_diabetes_cohort.loc[df_diabetes_cohort['pat_id'] == i, 'prs_date'] = df_exp_drug.loc[df_exp_drug['PAT_ID'] == i, 'prs_date'].values[0]

In [70]:
df_diabetes_cohort

,pat_id,diab_date,cancer,COPD,fracture,hypertension,prs_date
0,10000008910752101,2018-03-06,0,0,0,0,2019-06-29
1,10001443446743793,2018-09-17,0,0,0,0,2018-09-17
2,10003741345221536,2018-05-16,0,0,0,1,2020-01-05
3,10013876319320574,2018-08-29,0,0,0,0,2020-01-24
4,10021013315309313,2018-11-13,0,0,0,0,2020-09-27
...,...,...,...,...,...,...,...
4301,29980364734324385,2017-12-25,0,0,0,0,2018-08-10
4302,29985806374650075,2018-07-19,0,0,0,0,NaN
4303,29995168593291644,2018-05-09,0,1,0,1,2018-12-02
4304,29997018692944873,2018-06-24,0,0,0,1,2019-06-10
4305,29998480270207338,2018-07-03,0,0,0,0,2018-05-07